<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-item *ngIf="!!appService.user; else login">
            <ion-avatar slot="start">
              <img src="/assets/icon/favicon.png">
            </ion-avatar>
            <ion-label>
              <h2>{{appService.user.first_name}} {{appService.user.last_name}}</h2>
              <p>{{appService.user.username}}</p>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ng-template #login>
            <p><a [routerLink]="['/login']">Entrar</a></p>
            <p><a [routerLink]="['/registre']">Registrar-se</a></p>
          </ng-template>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ng-container *ngTemplateOutlet="menuItem;context:{p:p}"></ng-container>
            </ion-menu-toggle>
          <ng-container *ngIf="!!appService.user">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of loggedPages; let i = index">
              <ng-container *ngTemplateOutlet="menuItem;context:{p:p}" ></ng-container>
            </ion-menu-toggle>
          </ng-container>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<ng-template #menuItem let-p="p">
  <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="isActive(p.url)">
    <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
    <ion-label>{{ p.title }}</ion-label>
  </ion-item>
</ng-template>