<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Puc ajudar?</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label position="floating">Codi Postal</ion-label>
      <ion-input [(ngModel)]="zipCode"></ion-input>
    </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let ticket of tickets" sizeSm="6" sizeXs="12" sizeMd="4" sizeLg="3">
        <app-ticket-item [ticket]="ticket"></app-ticket-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadData($event)" [disabled]="!next">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button expand="full" color="primary" [routerLink]="['/ticket/add']">
    <ion-icon name="bandage-outline"></ion-icon>
    <span class="ion-margin-start ion-margin-end">Necessito ajuda!</span>
    <ion-icon name="bandage-outline"></ion-icon>
  </ion-button>
</ion-footer>